---
import Container from "@components/container.astro";
import Postlist from "@components/postlist.astro";
import Layout from "@layouts/Layout.astro";
import { latestPosts } from "@utils/content";
// Use Astro.glob() to fetch all posts, and then sort them by date.
// const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
//   (a, b) =>
//     new Date(b.frontmatter.publishDate).valueOf() -
//     new Date(a.frontmatter.publishDate).valueOf()
// );
// console.log(posts[0].frontmatter.image);
---
<section >
  <div class="px-8 py-12 md:px-12 mx-auto lg:pb-14 max-w-7xl lg:px-32   lg:pt-12">
    <div class="lg:text-center">
      <h1 class="text-4xl tracking-normal text-balance font-charter font-display text-black md:text-8xl text-brand-primary dark:text-white">
        All Blogs
      </h1>
    </div>
  </div>
</section>

<Layout title="">
  <Container>
    <main>
      <!-- <div class="grid gap-10 lg:gap-10 md:grid-cols-2">
        {
          latestPosts
            .slice(0, 4)
            .map((post) => (
              <Postlist post={post} aspect="landscape" preloadImage={true} />
            ))
        }
      </div> -->
      <div class="grid gap-10 mt-5 lg:gap-10 md:grid-cols-2 xl:grid-cols-3">
        {
          latestPosts
            .slice(0,1000)
            .map((post) => <Postlist post={post} aspect="square" />)
        }
      </div>
    </main>
    <div class="flex justify-center mt-7 mb-7">
      <a
        href="/"
        class="px-5 py-3 text-sm text-blue-600 transition rounded-md dark:text-blue-500 bg-blue-50 hover:bg-blue-100">
        ← Back Home
      </a>
    </div>
  </Container>
</Layout>
