---
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar.astro";
import Under from "@components/under.astro";
import "@fontsource/inter/variable.css";
import { checkImageUrl } from "@utils/all";
import { SEO } from "astro-seo";

export interface Props {
  title?: string;
  desc?: string;
  ogimage?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const { title, desc, ogimage = "/opengraph.jpg" } = Astro.props;

const resolvedOGImage = checkImageUrl(ogimage, Astro.site);

const makeTitle = title
  ? title + " | " + "hoooon"
  : "Hoooon";
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon1.svg" />
    <meta name="generator" content={Astro.generator} />

    <SEO
      title={makeTitle}
      description={desc ||
        "Hoooon Starter Blog"}
      canonical={canonicalURL}
      twitter={{
        creator: "@hoooon",
        site: "@hoooon",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `Hoooon - Blog`,
          image: resolvedOGImage,
        },
        image: {
          alt: "Hoooon Screenshot",
        },
      }}
    />
  <script>
    // public/firebase-init.js

import { getAnalytics } from "firebase/analytics";
import { initializeApp } from "firebase/app";

const firebaseConfig = {
  apiKey: "AIzaSyCIs_wr1kFNFMX156TSLy8h8JqMpskwGDg",
  authDomain: "sorryiloveyou.firebaseapp.com",
  projectId: "sorryiloveyou",
  storageBucket: "sorryiloveyou.appspot.com",
  messagingSenderId: "1034466506886",
  appId: "1:1034466506886:web:75fab4606a91cd9fe6b907",
  measurementId: "G-TNZ4XJE5N3"
};

if (typeof window !== "undefined") {
  const app = initializeApp(firebaseConfig);
  getAnalytics(app);
}

  </script>
  </head>
  <body>
    <!-- firebase deploy --only hosting:sorryiloveyou -->
    <!-- <Navbar /> -->
    <slot />

    <Footer />
    <Under/>
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
